<template>
  <v-app>
    <div>
      <translator-header class="item-head" :headerTitle="'Translator'" />
    </div>

    <div class="menu">
      <div class="language-selection">
        <v-select
          v-model="selectedEnv"
          :items="envOptions"
          item-value="id"
          item-text="label"
          label="Environment"
          outlined
          hint="Hier können Sie das Environment auswählen"
          persistent-hint
          @change="setSelectedEnv($event)"
        />
      </div>
      <div>
        <v-checkbox
          v-if="selectedEnv"
          v-model="checkbox"
          label="nicht übersetzte"
          @change="setCheckBox($event)"
        ></v-checkbox>
      </div>
    </div>
    <div v-if="selectedEnv" class="menu">
      <div class="language-selection">
        <v-select
          :items="languageOptions"
          v-model="selectedSourceLanguageOption"
          item-value="id"
          item-text="label"
          label="Quellsprache"
          outlined
          hint="Hier können Sie die Quellsprache auswählen"
          persistent-hint
          @change="setSelectedSourceLanguage($event)"
        />
      </div>
      <span>zu</span>
      <div class="language-selection">
        <v-select
          :items="languageOptions"
          v-model="selectedTargetLanguageOption"
          item-value="id"
          item-text="label"
          label="Zielsprache"
          outlined
          hint="Hier können Sie die Zielsprache auswählen"
          persistent-hint
          @change="setSelectedTargetLanguage($event)"
        />
      </div>
    </div>
    <text-localization-table
      v-if="selectedEnv"
      :sourceLang="selectedSourceLanguageOption"
      :targetLang="selectedTargetLanguageOption"
      :env="selectedEnv"
      :headers="headers"
      :checkbox="checkbox"
    />
  </v-app>
</template>

<script>
import Vue from 'vue';
import TranslatorHeader from '@/components/Header/TranslatorHeader.vue';
import TextLocalizationTable from '@/components/TextLocalization/TextLocalizationTable.vue';
import { languageOptions } from '@/views/language-options';

const envOptions = [
  { id: 'dev', label: 'dev' },
  { id: 'stage', label: 'stage' },
  { id: 'prod', label: 'prod' }
];

export default Vue.extend({
  components: {
    TranslatorHeader,
    TextLocalizationTable
  },
  data() {
    languageOptions.sort();
    const selectedSourceLanguageOption = languageOptions.find(language => language.id === 'de');
    const selectedTargetLanguageOption = languageOptions.find(language => language.id === 'en');
    const selectedEnv = this.$route.query.env;
    const headers = [
      {
        value: 'data-table-select',
        width: '1%',
        props: {
          indeterminate: false
        }
      },
      {
        text: 'Laguage-ID',
        align: 'start',
        value: 'id',
        width: '13%'
      },
      {
        text: `${selectedSourceLanguageOption.label} (${selectedSourceLanguageOption.id})`,
        value: selectedSourceLanguageOption.id,
        width: '43%'
      },
      {
        text: `${selectedTargetLanguageOption.label} (${selectedTargetLanguageOption.id})`,
        value: selectedTargetLanguageOption.id,
        width: '43%'
      }
    ];
    const checkbox = false;

    return {
      headers,
      languageOptions,
      selectedSourceLanguageOption,
      selectedTargetLanguageOption,
      envOptions,
      selectedEnv,
      checkbox
    };
  },
  computed: {
    getSourceLanguageOptionTitle() {
      return `${this.selectedSourceLanguageOption.label} (${this.selectedSourceLanguageOption.id})`;
    },
    getTargetLanguageOptionTitle() {
      return `${this.selectedTargetLanguageOption.label} (${this.selectedTargetLanguageOption.id})`;
    }
  },
  methods: {
    setSelectedEnv(env) {
      this.$router.push({ path: '/', query: { env } });
    },
    setSelectedSourceLanguage(languageId) {
      const selectedLanguage = this.languageOptions.find(languageOption => languageOption.id === languageId);
      if (selectedLanguage) {
        this.selectedSourceLanguageOption = selectedLanguage;

        this.headers[2].text = this.getSourceLanguageOptionTitle;
        this.headers[2].value = this.selectedSourceLanguageOption.id;
      }
    },

    setSelectedTargetLanguage(languageId) {
      const selectedLanguage = this.languageOptions.find(languageOption => languageOption.id === languageId);
      if (selectedLanguage) {
        this.selectedTargetLanguageOption = selectedLanguage;

        this.headers[3].text = this.getTargetLanguageOptionTitle;
        this.headers[3].value = this.selectedTargetLanguageOption.id;
      }
    },
    setCheckBox(event) {
      console.log(event);
      this.checkbox = event;
    }
  }
});
</script>

<style lang="scss" scoped>
.item-head {
  width: 100%;
  height: auto;
  position: initial;
  left: initial;
  -webkit-transform: none;
  transform: none;
}

::v-deep .touched {
  font-weight: bold;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 10px 5px 10px;
  background-color: #eeeeee;

  .language-selection {
    order: 0;

    ::v-deep fieldset {
      background-color: #ffffff;
    }

    ::v-deep .v-input__slot {
      padding-left: 20px !important;
    }
  }
  span {
    display: inline-block;
    margin: 15px;
  }
}
</style>
