<template>
  <div>
    <div>
      <div class="buttons" style="display:flex">
        <div style="flex-grow:1">
          <v-btn depressed color="primary" :disabled="selected.length === 0" @click="exportXliff" class="export">
            <v-icon>mdi-download</v-icon>&nbsp;ausgewählte als XML({{ selected.length }})
          </v-btn>

          <div class="upload-button">
            <v-file-input
              hide-input
              v-model="upload"
              id="fileUploader"
              accept="application/xml"
              @change="startFileUpload"
            ></v-file-input>
          </div>
          <v-btn depressed color="primary" @click="openSelectFileDialog">
            <v-icon>mdi-cloud-upload-outline</v-icon>&nbsp;Import XML
          </v-btn>
        </div>

        <div class="add">
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
                Textelement erstellen
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">Übersetzung hinzufügen</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="editedItem.id" label="Language-ID"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="editedItem[sourceLang.id]" :label="sourceLang.id"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="editedItem[targetLang.id]" :label="targetLang.id"></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">
                  Abbrechen
                </v-btn>
                <v-btn color="blue darken-1" text @click="save">
                  Speichern
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
      </div>
    </div>
    <template>
      <v-data-table
        v-model="selected"
        :search="search"
        :headers="headers"
        :items="languageData"
        :single-select="singleSelect"
        :footer-props="{
          'items-per-page-options': [25, 100, -1]
        }"
        @toggle-select-all="toggleSelectAll"
        @item-selected="setItemSelected"
        show-select
        class="elevation-1"
        item-class="touched"
      >
        <template v-slot:top>
          <v-switch v-model="singleSelect" label="Single select"></v-switch>
          <v-text-field
            v-model="search"
            class="mx-2"
            append-icon="mdi-magnify"
            label="Search"
            single-line
          ></v-text-field>
        </template>
        <template v-slot:[slotSource]="props">
          <v-edit-dialog
            :return-value.sync="props.item[localSourceLang.id]"
            large
            save-text="Speichern"
            cancel-text="Abbrechen"
          >
            {{ props.item[localSourceLang.id] }}
            <template v-slot:input>
              <v-text-field
                v-model="props.item[localSourceLang.id]"
                @change="updateTranslationField({ lang: localSourceLang.id, value: $event, path: props.item.id })"
                counter
                single-line
              ></v-text-field>
            </template>
          </v-edit-dialog> </template
        ><template v-slot:[slotTarget]="props">
          <v-edit-dialog
            :return-value.sync="props.item[localTargetLang.id]"
            large
            save-text="Speichern"
            cancel-text="Abbrechen"
          >
            {{ props.item[localTargetLang.id] }}
            <template v-slot:input>
              <v-text-field
                v-model="props.item[localTargetLang.id]"
                @change="updateTranslationField({ lang: localTargetLang.id, value: $event, path: props.item.id })"
                counter
                single-line
              ></v-text-field>
            </template>
          </v-edit-dialog>
        </template>
      </v-data-table>
    </template>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import textLocalization from '@/apiConnections/text-localization';

import deepClone from 'rfdc';
import axios from 'axios';

export default Vue.extend({
  props: {
    sourceLang: {
      type: Object,
      required: false
    },
    targetLang: {
      type: Object,
      required: false
    },
    headers: {
      type: Array,
      required: false
    },
    search: {
      type: String,
      required: false
    },
    env: {
      type: String,
      required: true
    },
    checkbox: {
      type: Boolean,
      required: false
    }
  },
  data() {
    const localSourceLang: { id: string; label: string } = deepClone()(this.sourceLang);
    const localTargetLang = deepClone()(this.targetLang);
    const upload = undefined;
    const languageData: { [key: string]: string }[] = [];
    const selected: { [key: string]: string }[] = [];
    const editedItem: { [key: string]: string } = {
      id: '',
      [localSourceLang.id]: '',
      [localTargetLang.id]: ''
    };
    const dialog = false;
    return {
      languageData,
      selected,
      localSourceLang,
      upload,
      localTargetLang,
      singleSelect: false,
      editedItem,
      dialog
    };
  },
  computed: {
    slotSource() {
      return `item.${this.sourceLang.id}`;
    },
    slotTarget() {
      return `item.${this.targetLang.id}`;
    }
  },
  mounted() {
    this.setEnvironment(this.env);
  },
  watch: {
    singleSelect: function() {
      if (this.singleSelect && this.selected.length > 1) {
        this.selected = [];
      }
    },
    sourceLang: function() {
      this.localSourceLang = this.sourceLang;
      this.getTextLocalizationTranslations();
      this.selected = [];
    },
    targetLang: function() {
      this.localTargetLang = this.targetLang;
      this.getTextLocalizationTranslations();
      this.selected = [];
    },
    env: function() {
      this.setEnvironment(this.env);
    },
    checkbox: function() {
      this.getTextLocalizationTranslations();
    }
  },
  methods: {
    async getTextLocalizationTranslations() {
      let translations: any;
      if (this.checkbox === false) {
        translations = await textLocalization.getAll(this.localSourceLang.id, this.localTargetLang.id, false);
      } else {
        translations = await textLocalization.getAll(this.localSourceLang.id, this.localTargetLang.id, true);
      }

      const itemArray = this.nestedLoop(translations, this.localSourceLang.id, this.localTargetLang.id);

      this.languageData = itemArray;

      this.markNotTranslated();
    },
    async setEnvironment(env: string) {
      textLocalization.setEnvironment(env);
      await this.getTextLocalizationTranslations();
    },

    nestedLoop(obj: object, lang: string, sourceLang: string) {
      const itemArray: { [key: string]: string }[] = [];
      let objectKeys = '';
      function recurse(obj: { [key: string]: string | any }, current?: string) {
        for (const key in obj) {
          if (current != null) {
            objectKeys = objectKeys + current + '/';
          }
          if (obj[key] !== undefined) {
            if (obj[key] && typeof obj[key] === 'object') {
              recurse(obj[key] as { [key: string]: string | any }, key);
            } else {
              itemArray.push({
                id: objectKeys,
                [sourceLang]: obj[sourceLang],
                [lang]: obj[lang]
              });
              objectKeys = objectKeys.slice(0, objectKeys.length - 1);
              const lastIndex = objectKeys.lastIndexOf('/');
              objectKeys = objectKeys.slice(0, lastIndex + 1);
              break;
            }
            objectKeys = objectKeys.slice(0, objectKeys.length - 1);
            const lastIndex = objectKeys.lastIndexOf('/');
            objectKeys = objectKeys.slice(0, lastIndex + 1);
          }
        }
      }

      recurse(obj as { [key: string]: string | any });
      return itemArray;
    },
    markNotTranslated() {
      this.selected = [];
      this.languageData
        .filter(
          languageEntry =>
            !languageEntry[this.localTargetLang.id] || (languageEntry[this.localTargetLang.id] as string).trim() === ''
        )
        .forEach(entry => this.selected.push(entry));
    },

    async updateTranslationField(updateEntry: { lang: string; value: string; path: string }) {
      const findReplaceLanguageEntry = this.languageData.find(langEntry => langEntry.id === updateEntry.path);
      if (findReplaceLanguageEntry) {
        findReplaceLanguageEntry.touched = 'touched';
        const updatedTranslation = {
          [updateEntry.lang]: updateEntry.value
        };
        await textLocalization.updateSubDoc(updateEntry.path, updatedTranslation);
      }
      this.languageData = deepClone()(this.languageData);
    },
    toggleSelectAll({ items, value }: any) {
      const selectedOptions: { [key: string]: string }[] = [];
      if (value) {
        items.forEach((languageEntry: { [key: string]: string }) => selectedOptions.push(languageEntry));
        this.selected = [...this.selected, ...selectedOptions];
      } else {
        items.forEach((languageEntry: { [key: string]: string }) => {
          const findSelectedLanguageEntryIndex = this.selected.findIndex(
            selectedLanguageEntry => selectedLanguageEntry.id === languageEntry.id
          );
          if (findSelectedLanguageEntryIndex !== -1) {
            this.selected.splice(findSelectedLanguageEntryIndex, 1);
          }
        });
      }
    },

    setItemSelected({ item, value }: any) {
      const findSelectedLanguageEntryIndex = this.selected.findIndex(languageEntry => languageEntry.id === item.id);
      if (findSelectedLanguageEntryIndex !== -1 && !value) {
        this.selected.splice(findSelectedLanguageEntryIndex, 1);
      } else if (findSelectedLanguageEntryIndex === -1) {
        this.selected.push(item);
      }
    },

    async exportXliff() {
      const path: string[] = [];
      this.selected.forEach(elem => {
        path.push(elem.id);
      });
      const result: any = await textLocalization.getSelected(path, this.localTargetLang.id, this.localSourceLang.id);

      await axios
        .get('/', { responseType: 'blob' })
        .then(() => {
          const blob = new Blob([result], { type: 'application/xml' });
          const link = document.createElement('a');
          link.href = URL.createObjectURL(blob);
          const dateString = new Intl.DateTimeFormat('de-DE', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit'
          })
            .format(new Date())
            .replaceAll('.', '_');
          link.download = `export-${this.localSourceLang.id}_${this.localTargetLang.id}-${dateString}.xml`;
          link.click();
          URL.revokeObjectURL(link.href);
        })
        .catch(console.error);
    },

    openSelectFileDialog() {
      (document.querySelector('#fileUploader') as any).click();
    },

    async startFileUpload() {
      const oldLangData = deepClone()(this.languageData);
      const reader = new FileReader();
      reader.readAsArrayBuffer(this.upload as any);
      reader.onload = async () => {
        await textLocalization.updateFromXML(reader.result);
        this.upload = undefined;
        await this.getTextLocalizationTranslations();
        const newLangData = deepClone()(this.languageData);

        const diff = newLangData.filter(newData => {
          const matched = oldLangData.find(oldData => newData.id === oldData.id);
          if (matched) return newData[this.targetLang.id] !== matched[this.targetLang.id];
        });
        diff.forEach(el => {
          const findReplaceLanguageEntry = this.languageData.find(langEntry => langEntry.id === el.id);
          if (findReplaceLanguageEntry) {
            findReplaceLanguageEntry.touched = 'touched';
            this.languageData = deepClone()(this.languageData);
          }
        });
      };
    },
    close() {
      this.dialog = false;
    },
    async save() {
      await textLocalization.addSubDoc(this.editedItem.id, {
        [this.sourceLang.id]: this.editedItem[this.sourceLang.id],
        [this.targetLang.id]: this.editedItem[this.targetLang.id]
      });
      await this.getTextLocalizationTranslations();
      const findReplaceLanguageEntry = this.languageData.find(langEntry => langEntry.id === `${this.editedItem.id}/`);
      if (findReplaceLanguageEntry) {
        findReplaceLanguageEntry.touched = 'touched';
        this.languageData = deepClone()(this.languageData);
      }
      this.close();
    }
  }
});
</script>

<style scoped lang="scss">
::v-deep .touched {
  font-weight: bold;
}
.buttons {
  order: 10;
  margin-top: 4px;

  .export {
    margin-right: 100px;
  }
}
.upload-button {
  display: none;
}
</style>
