<template>
  <translator-main-page />
</template>

<script lang="ts">
import Vue from 'vue';
import TranslatorMainPage from './views/TranslatorMainPage.vue';

export default Vue.extend({
  name: 'App',

  components: {
    TranslatorMainPage
  },

  data: () => ({
    //
  })
});
</script>
<style lang="scss">
@import 'src/general_styles/_generalStyles';
</style>
