body,
html {
  height: 100%;
  position: relative;
  width: 100%;
}

body,
p,
a,
button {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #4d4d4d;
}

button {
  min-width: 1.75em;
  min-height: 1.75em;
  border-radius: 4px;
  background-color: #333;
  margin: 0.4em;
  padding: 0.4em;
  border-width: 1px;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  &:hover {
    color: #fe0009;
    border-color: #fe0009;
    svg {
      stroke: #fe0009;
      path {
        stroke: #fe0009;
      }
    }
  }
  svg {
    height: 1.5em;
    width: 1.5em;
  }
}

b {
  font-weight: 600;
}

/* ---- LINKS ---- */
a {
  text-decoration: none;
  color: #0582ab;
}
a:not(.btn):hover {
  color: #0582ab;
  text-decoration: underline;
}

/* ---- ÜBERSCHRIFTEN ---- */
h1,
h2 {
  font-weight: 600;
  margin: 15px 0;
  padding: 0;
  color: #4d4d4d;
}
h1 {
  font-size: 32px;
  line-height: 32px;
}
h2,
h2 a {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
}

img {
  border: none;
}

.image {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.image.fit {
  background-size: contain;
}

fieldset {
  border: 1px solid #ccc;
}

body.idle {
  cursor: wait;
}
body.idle *:not(#idleOverlayer):not(#idleIcon):not(#idleText) {
  filter: blur(5px);
}

.unit .b,
.notRelevant {
  padding-left: 1px;
  padding-right: 1px;
  color: #999;
}

.image {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.image.fit {
  background-size: contain;
}

/* Scrollbars (bisher nur webkit) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background-color: #ccc;
  border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: #999;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

//Flexboxen (.flex-container und .flex-item)
.flex-container,
.flex-item,
.flex-column,
.flex-row {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

//Seperator Linien
.vertical-seperator {
  content: '';
  width: 0px;
  height: auto;
  border-left: 1px solid #ccc;
  padding: 0;
}

* {
  box-sizing: border-box;
}

//Fieldsets

fieldset {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0;
}
legend {
  font-weight: bold;
}
